/*Thanks to https://github.com/markdowncss/ 
  https://github.com/mrmrs/fluidity */
.preview-ta {
    font-size: large !important;
    word-spacing: 3px;
    a,
    a:visited {
      text-decoration: underline;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }

  
  pre,
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  
    font-size: 10px;
  
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
   
      font-size: 15px;
    
  }
  
  @media screen and (min-width: 48rem) {
  
      font-size: 16px;
    
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .modest-p {
    margin-bottom: 1.3rem;
  }
  
  small,
  .modest-small {
    font-size: .707em;
  }
  
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
  
  @import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
  
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arimo, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3 {
    border-bottom: 2px solid rgb(206, 201, 201) ;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  
  blockquote {
    border-radius: 5px;
    background-color: rgb(85, 85, 85);
    border: none;
    border-left: 8px solid rgb(206, 201, 201);
    padding: 1rem;
  }
  #syntax-pre-div {
      border-radius:5px;
  }
  pre,code {
    background-color: none;
    border: none;
    border-left: 20 px solid rgb(107, 105, 105);
  }
  white-space:pre-wrap;
}